@font-face {
	font-family: "RobotoRegular";
	src: url("../fonts/RobotoRegular/RobotoRegular.eot");
	src: url("../fonts/RobotoRegular/RobotoRegular.eot?#iefix") format("embedded-opentype"),
			 url("../fonts/RobotoRegular/RobotoRegular.woff") format("woff"),
			 url("../fonts/RobotoRegular/RobotoRegular.ttf") format("truetype");
	font-style: normal;
	font-weight: normal;
}

@font-face {
	font-family: "RobotoBold";
	src: url("../fonts/Roboto-Bold/Roboto-Bold.eot");
	src: url("../fonts/Roboto-Bold/Roboto-Bold.eot?#iefix") format("embedded-opentype"),
			 url("../fonts/Roboto-Bold/Roboto-Bold.woff") format("woff"),
			 url("../fonts/Roboto-Bold/Roboto-Bold.ttf") format("truetype");
	font-style: normal;
	font-weight: normal;
}

@font-face {
	font-family: "RobotoBlack";
	src: url("../fonts/Roboto-Black/Roboto-Black.eot");
	src: url("../fonts/Roboto-Black/Roboto-Black.eot?#iefix") format("embedded-opentype"),
			 url("../fonts/Roboto-Black/Roboto-Black.woff") format("woff"),
			 url("../fonts/Roboto-Black/Roboto-Black.ttf") format("truetype");
	font-style: normal;
	font-weight: normal;
}

@font-face {
	font-family: "PTSansRegular";
	src: url("../fonts/PTSans-Regular/PTSans-Regular.eot");
	src: url("../fonts/PTSans-Regular/PTSans-Regular.eot?#iefix") format("embedded-opentype"),
			 url("../fonts/PTSans-Regular/PTSans-Regular.woff") format("woff"),
			 url("../fonts/PTSans-Regular/PTSans-Regular.ttf") format("truetype");
	font-style: normal;
	font-weight: normal;
}

@font-face {
	font-family: "PTSansBold";
	src: url("../fonts/PTSans-Bold/PTSans-Bold.eot");
	src: url("../fonts/PTSans-Bold/PTSans-Bold.eot?#iefix") format("embedded-opentype"),
			 url("../fonts/PTSans-Bold/PTSans-Bold.woff") format("woff"),
			 url("../fonts/PTSans-Bold/PTSans-Bold.ttf") format("truetype");
	font-style: normal;
	font-weight: normal;
}
